<div id="div1">
    <h1 id="titulo">Perfil</h1>
    @if(perfil){
    <div class="card">
        <div class="card-header">{{ perfil.apellido }}</div>
        <div class="card-body">
            <p class="card-text">
                Oficio:
                {{ perfil.oficio }}
            </p><p class="card-text">
                Director:
                {{ perfil.director }}
            </p>
            <p class="card-text">Salario: {{ perfil.salario }} €</p>
        </div>
    </div>
    }
</div>
